<?php
  DEFINE('PROJECT_DIRECTORY', ''); //root directory of your project on the server; end with trailing /
  DEFINE('LOG_DIRECTORY', ''); //the directory you want your base log to be in; end with trailing /
  DEFINE('LOG_FILE', 'log.txt'); //the file name of your base log

  //database
  DEFINE('DB_HOST', 'localhost');
  DEFINE('DB_USER', '');
  DEFINE('DB_PASS', '');
  DEFINE('DB_NAME', '');
  $GLOBALS['useDatabase'] = 1;

  $showProfiler = 1; //default Mutt-PHP proifiling tool

  $errorReporting = 1; // PHP error reporting; 0 for off; 1 for on;

  $htmlHeader = 1; // pre-built HTML header for HTML projects; 0 for no; 1 for yes;
  $htmlFooter = 1; // pre-built HTML footer for HTML projects; 0 for no; 1 for yes;

  $twitterBootstrap = 1; // include bootstrap in the header; HTML header must be active; 0 for no; 1 for yes;

  $jQueryHeader = 0; // include jQuery in the header; HTML header must be active; 0 for no; 1 for yes;
  $jQueryFooter = 1; // include jQuery in the footer; HTML footer must be active; 0 for no; 1 for yes;

  $baseStylesFile = 1; // include a default styles file from public/css/styles.css; 0 for no; 1 for yes;
  $randomizeBaseCssString = 1; // randomly append integer string to end of css file to cache-bust; ; 0 for no; 1 for yes;

  $baseJSFile = 1; // include a default js file from public/js/scripts.js; 0 for no; 1 for yes;
  $randomizeBaseJSString = 1; // randomly append integer string to end of js file to cache-bust; ; 0 for no; 1 for yes;